<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Odaberi izvodjaca</h1>
    <form method="POST" action="/izvestaj" id="forma">
        <select name="izvodjac">
            <% for(let izvodjac of izvodjaci) {%>
                <option><%= izvodjac %></option>
            <% } %>
        </select>

        <input type="submit" value="prikazi izvestaj">
    </form>
</body>
</html>