<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Azuriranje dogadjaja</h1>
    <p>Naredni dogadjaj je uspesno izmenjen: </p>
    <ul>
        <li>Naziv: <%= rez.naziv %></li>
        <li>Datum: <%= rez.dan + '.' + rez.mesec + '.' + rez.godina + '.'%></li>
        <li>Trajanje: <%= rez.trajanje %> minuta</li>
    </ul>
    <a href="/">Vrati se na pocetnu stranicu</a>
</body>
</html>